.nav {
    /* background: rgb(222, 180, 180); */
    background: burlywood;
    height: 8%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.profile_btn {
    height: 50px;
    width: 50px;
    cursor: pointer;
    outline: none;
    border: 0;
    display: block;
    background: rgb(222, 180, 180);
    border-radius: 100%;
}

.profile_btn img {
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

.menuButton {
    color: white;
    outline: none;
    border: 0;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
    background: none;
    /* background-color: rgb(226, 147, 147); */
    /* border-radius: 10px; */
}

.menuItem :hover {
    color: gray;
    /* font-size: 15px; */
    border-bottom: 1px solid white;
    transition: color 0.5s, border-bottom 4s;
}